/* 600px and up rules */
// Base rules
// Layout rules
header[role="banner"]{
	margin-top: 40px;
	margin-bottom: 20px;

	#logo img{
		margin-bottom: 40px;
	}

	nav[role="navigation"]{
		padding-top: 4px;
		padding-bottom: 5px;
	}
}
section#blog{
	@include clearfix();

	article{
		float: left;
		width: 46.774193549%;
		&:nth-child(even){
			margin-right: 6.451612903%;
		}
	}
}
// Module rules
form.newsletter{
	@include clearfix();
	position: relative;
	label[for="email"], input[type="email"]{
		float: left;
		width: 70%;
	}
	input[type="submit"]{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 28%;
	}
}
// State rules
// Theme rules
body{
	background-image: url('img/sea-pattern.jpg');
	background-position: top center;
	background-repeat: repeat-x;
}

header[role="banner"] nav[role="navigation"]{
	border-top: 1px solid rgba($white, .4);
	background-color: $red;
	background-image: linear-gradient(lighten($red, 5%), darken($red, 5%));

	a{
		$text-shadow: 0 -1px 0 rgba($black, .3);
		text-shadow: $text-shadow;
		transition: text-shadow .2s ease-in;
		
		&:hover, &:focus{
			text-shadow: 1px 2px 0 rgba($black, .5);	
		}
		&:active{
			text-shadow: -1px -2px 0 rgba($black, .3);
		}
	}
}
