/* 600px and up rules */
// Base rules
// Layout rules
header[role="banner"]{
	margin-top: 40px;
	margin-bottom: 20px;

	#logo img{
		margin-bottom: 40px;
	}

	nav[role="navigation"]{
		padding-top: 4px;
		padding-bottom: 5px;
	}
}
section#blog{
	@include clearfix();

	article{
		width: 46.774193549%;
		float: left;

		&:nth-child(even){
			margin-right: 6.451612903%;
		}
	}
}
// Module rules
form.newsletter{
	@include clearfix();
	position: relative;
	label[for="email"], input[type="email"]{
		width: 70%;
		float: left;
	}
	input[type="submit"]{
		width: 28%;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}
// State rules
// Theme rules
body{
	background-image: url('img/sea-pattern.jpg');
	background-repeat: repeat-x;
	background-position: top center;
}

header[role="banner"] nav[role="navigation"]{
	background-color: $red;
	background-image: linear-gradient(lighten($red, 5%), darken($red, 5%));
	border-top: 1px solid rgba($white, .4);

	a{
		text-shadow: 0 -1px 0 rgba($black, .3);
	}
}
