/* 768px and up rules */
// Base rules
// Layout rules
header[role="banner"], section[role="main"], footer[role="contentinfo"]{
	width: 90%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
section[role="main"]{
	@include box-sizing();
	padding-left: 30px;
	padding-right: 30px;
}
// Module rules
// State rules
// Theme rules
nav[role="navigation"]{
	border-radius: 8px;
}

section[role="main"]{
	border-radius: 8px;
}
