/* Base rules: smacss.com/book/type-base */
body{
	@include font-size(14);
	background-color: $black;
	font-family: $bodyfont;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

section[role="main"]{
	background: $beige url('img/paper-pattern@s.jpg') repeat top center;
}

h1, h2{
	text-transform: uppercase;
	font-weight: normal;
	font-family: $titlefont;

}

h1{
	@include font-size(48);
	margin: 30px 0 0;
	color: $red;
}

h2{
	@include font-size(28);
	margin: 20px 0 10px;

	a{
		color: $black !important;
		text-decoration: none;
	}
}

a{
	transition: color .3s;
	&:link{
		color: $blue;
	}
	&:visited{
		color: $bluedark;
	}
	&:hover, &:focus{
		color: $red;
	}
	&:active{
		color: $reddark;
	}
}

time[pubdate]{
	@include font-size(12);
	color: $greylight;
}

form{
	@include font-size(16);

	input{
		@include box-sizing();
		margin-bottom: 7px;
		width: 100%;

		&[type="text"], &[type="email"]{
			padding: 15px 13px;
			border: 1px solid $greylight;
			border-radius: 8px;

			&:focus{
				box-shadow: inset 1px 2px 2px rgba($black, .16);
				animation: pulse .8s;
				::-webkit-input-placeholder {
					color: $greylight;
				}
			}
		}
		&[type="submit"]{
			@include button();
		}
	}

	label{
		display: block;
		margin-bottom: 2px;
		margin-left: 8px;
		color: $blue;
		font-weight: bold;
		cursor: pointer;
		small.invalid{
				display: block;
				color: $red;
				font-weight: normal;
		}
	}
}

*:focus{
	outline: none;
}

::-webkit-input-placeholder {
	color: $grey;
	font-style: italic;
}

:-moz-placeholder {  
	color: $grey;
	font-style: italic;
}
