/* Layout rules: smacss.com/book/type-layout */
header[role="banner"]{
	@include clearfix();
	padding-bottom: 10px;
	text-align: center;
}

section[role="main"]{
	@include clearfix();
	padding: 0 10px 30px;
}

footer[role="contentinfo"]{
	padding: 10px;
	text-align: center;
	nav{
		@include clearfix();
		margin-bottom: 20px;
		a{
			padding: 0 16px;
		}
	}
}