@mixin font-size($font-size: 16){
font-size : #{$font-size}px;
font-size : #{$font-size / 16}rem; } // $font-size / root em (16px)

@mixin text-overflow() {
overflow : hidden;
text-overflow : ellipsis;
white-space : nowrap; }

@mixin box-sizing($boxsize: border-box) {
-webkit-box-sizing : $boxsize;
-moz-box-sizing : $boxsize;
box-sizing : $boxsize;
-ms-box-sizing : $boxsize; }

@mixin clearfix {
*zoom : 1;
&:before,
&:after {
display: table;
content : ""; }
&:after {
clear : both; } }

// For image replacement
@mixin hide-text() {
overflow : hidden;
text-indent : 100%;
white-space : nowrap; }

// Hide from visual and speaking browsers
@mixin hidden() {
display : none !important;
visibility : hidden; }

// Hide but maintain layout
@mixin invisible() {
visibility : hidden; }

// Hidden but available to speaking browsers
@mixin visuallyhidden() {
position : absolute;
overflow : hidden;
clip : rect(0 0 0 0);
margin : -1px;
padding : 0;
width : 1px;
height : 1px;
border : 0;
// Make visuallyhidden focusable with a keyboard

&.focusable {

&:active,
&:focus {
position : static;
overflow: visible;
clip : auto;
margin : 0;
width : auto;
height : auto; } } }

@mixin button(){
	@include font-size(16);
	display: block;
	padding: 12px 10px 14px;
	height: 50px;
	border: 1px solid $black;
	border-radius: 8px;
	background-color: $grey;
	background-image: linear-gradient($grey, $black);
	box-shadow: inset 0 1px 0 rgba($white, .3);
	color: $white;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba($black, .75);
	font-weight: bold;
	transition: all .3s;

	&:link, &:visited, &:hover, &:active{
		color: $white;
	}
	&:hover, &:focus{
		@include font-size(18);
		padding-top: 10px;
		background-color: lighten($grey, 5%);
		background-image: linear-gradient(lighten($grey, 10%), lighten($black, 5%));
	}
	&:active{
		background-image: linear-gradient(lighten($black, 10%), lighten($grey, 5%));
	}
	@include box-sizing();
}
