/* Module rules: smacss.com/book/type-module */

header[role="banner"]{
	a#logo:hover img{
		animation: jump .5s ease .1s;
	}
}

nav[role="navigation"]{
	@include clearfix();
	a{
		display: block;
		float: left;
		padding: 10px 0;
		width: 50%;
	}
}

header[role="banner"], footer[role="contentinfo"]{
	color: $white;
	nav a:link{
		@include font-size(16);
		color: $white;
		text-decoration: none;
		font-weight: bold;
	}
}

footer[role="contentinfo"] nav a:hover{
	text-decoration: underline;
}

#blog article{
	margin-bottom: 56px;
	header{
		h2{
			margin-bottom: 0;
		}
		+ p{
			@include font-size(18);
			color: $grey;
			font-style: italic;
		}
	}
}

.btn{
	@include button();
}

#map{
	height: 350px;
}

ul.vcard{
	@include clearfix();
	padding-left: 0;
	list-style: none;

	li{
		float: left;
		margin-bottom: 14px;
		width: 46.774193549%;

		&:nth-child(odd){
			margin-right: 6.451612903%;
		}

		b{
			display: block;
		}
	}
}

a[href$="twitter.com/mobilevikings"], a[href$="facebook.com/mobilevikings"]{
	&:before{
		display: inline-block;
		margin-right: 3px;
		width: 1em;
		height: 1em;
		background-size: 1em;
		content: '';
		vertical-align: -2px;
	}
	&:hover:before{
	    transition: transform .5s ease-in;
		transform: rotateY(-360deg);
	}
}

a[href$="twitter.com/mobilevikings"]:before{
	background-image: url('img/twitter-logo@l.png');
}

a[href$="facebook.com/mobilevikings"]:before{
	background-image: url('img/facebook-logo@l.png');
}
