/* Module rules: smacss.com/book/type-module */
#blog article{
	header{
		h2{
			margin-bottom: 0;
		}
		+ p{
			@include font-size(18);
			font-style: italic;
			color: $grey;
		}
	}
	margin-bottom: 56px;
}

.btn{
	@include button();
}

#map{
	height: 350px;
}

a[href$="twitter.com/mobilevikings"], a[href$="facebook.com/mobilevikings"]{
	&:before{
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: 3px;
		vertical-align: -2px;
		background-size: 1em;
	}
}


a:hover:before{
	transform: rotateY(-360deg);
    //backface-visibility: hidden;
    transition: transform 1s ease;
}

a[href$="twitter.com/mobilevikings"]:before{
	background-image: url('img/twitter-logo@l.png');
}

a[href$="facebook.com/mobilevikings"]:before{
	background-image: url('img/facebook-logo@l.png');
}
