/* Theme rules: smacss.com/book/type-theme */
body{
	background-color: $black;
}

header[role="banner"], footer[role="contentinfo"]{
	color: $white;
	nav a{
		@include font-size(16);
		font-weight: bold;
		color: $white;
		text-decoration: none;
	}
}

section[role="main"]{
	background: $beige url('img/paper-pattern@s.jpg') repeat top center;
}
