// Colors
$black:	rgb(0,0,0);
$white: rgb(255,255,255);

$beige: rgb(238,233,221);

$blue: rgb(0,150,236);
$bluedark: darken($blue, 20%);
$bluelight: lighten($blue, 20%);

$red: rgb(203,12,12);
$reddark: darken($red, 20%);
$redlight: lighten($red, 20%);
